@media (min-width: 835px){
    
    ul,li{
        list-style: none;
    }
    
    .background-color{
        background-color:black;
        width:100%;
        height:100%;
        padding:80px 0px;
        color:white;
    }
    
    .size{
        width: 70%;
        margin:0 auto;
    }
    
    .header{
        text-align:center;
    }
    
        .header h1,.header h2{
            text-shadow:1px 2px gray;
        }

        .header h1{
            font-size:60px;
        }
        .header h2{
            font-size:30px;
        }
    
    .sns{
        width:100%;
        margin:50px 0px;
        text-align:center;
    }
    
        .sns li{
            margin:0 auto;
            list-style:none;
            display:inline;
            margin:1%;
            padding:2%;
            width:20%;
            box-sizing: border-box;
            border-radius:30px;
        }
    
        .sns a{
            color:white;
            font-weight: 700;
        }
    
        .youtube{
            background-color:red;
            box-shadow:0px 5px rgb(180,0,0);
        }
    
        .instagram{
            background-color:orange;
            box-shadow:0px 5px rgb(211, 49, 0);
        }
    
        .twitter{
            background-color:rgba(0, 255, 255, 0.9);
            box-shadow:0px 5px rgb(0, 116, 211);
        }
    
    
        .kizai{
            background-color:rgb(116, 236, 116);
            box-shadow:0px 5px green;
        }
    
        .youtube:hover {
            box-shadow: none;
            position: relative;
            top:5px;
        }
    
        .instagram:hover {
            box-shadow: none;
            position: relative;
            top:5px;
        }
    
        .twitter:hover {
            box-shadow: none;
            position: relative;
            top:5px;
        }
    
    
    .kizai:hover {
        box-shadow: none;
        position: relative;
        top:5px;
    }
    
    .engineer{
        display:inline-block;
        padding:100px 0px;
        width: 100%;
    }
    
        .engineer-photo img{
            margin-top:50px;
            float:left;
            width: 55%;
            height:0 auto;
            border:1px solid white;
        }
    
        .engineer-word {
            float:right;
            width:40%;
        }
    
    
    
    .hiroki-site{
        display:block;
        margin-top:50px;
        text-align:center;
    }
    
        .hiroki-site a{
            display:inline-block;
            color:white;
            padding:2%;
            font-weight:700;
            background-color:rgb(116, 236, 116);
            box-shadow:0px 5px green;
            border-radius: 20px;
        }
    
        .hiroki-site a:hover {
            box-shadow:none;
            position: relative;
            top:5px;
        }
    
    
    
    .sample-contents{
        margin:0 auto;
        width:100%;
        padding-top:50px;
    }
        .movie {
            margin-top:50px;
            position: relative;
            width: 100%;
            padding: calc(315 / 560 * 100%) 0 0;
        }
        .movie iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
    
        .sample-video p{
    
        }
    
    .rec-charge{
        margin-top:100px;
    }
    
        .rec-charge h1{
            text-align:center;
        }
    
    
    
    .contact{
        padding-top: 100px;
        width:100%;
        text-align: center;
    }
    
    .contact a{
        display:inline-block;
        color:white;
        padding:2%;
        font-weight:700;
        background-color:rgb(116, 236, 116);
        box-shadow:0px 5px green;
        border-radius: 20px;
    }
    
    .contact a:hover{
        box-shadow:none;
        position: relative;
        top:5px;
    }
    
    .footer{
        margin-top:200px;
        text-align:center;
    }


}
