.background-color {
  background-color:black;
  width:100%;
  height:10000px;
}

.header {
  padding-top:100px;
  padding-bottom:100px;
}

.header h1{
  color:white;
  text-align:center;
  font-size:80px;
}

.header h2 {
  color:white;
  text-align:center;
  font-size:20px;
}

.header span{
  color:red;
}

.sns a{
  font-family: monospace;
  letter-spacing:15px;
  font-size:40px;
  color:black;
}

.youtube {
  background-color:red;
  text-align: center;
}

.youtube:hover {
background-color:white;
color:red;
transition:background-color 1s;
}

.instagram {
  background-color:orange;
  text-align: center;
}

.instagram:hover {
  background-color:white;
  color:orange;
  transition:background-color 1s;
}

.twitter {
  background-color:cyan;
  text-align: center;
}

.twitter:hover {
  background-color:white;
  color:lightblue;
  transition:background-color 1s;
}

.kizai {
  background-color:lightgreen;
  text-align:center;
}

.kizai:hover {
  background-color:white;
  color:lightgreen;
  transition:background-color 1s;
}

.recording {
  width:90%;
  margin:0 auto;
  padding-top:100px;
  color:white;
  text-align:center;
}

.engineer{
  margin:0 auto;
  margin-bottom:100px;
}

.engineer-photo img{
  width:45%;
}

.engineer-word{
  text-align:center;
  margin:0 auto;
  margin-top:30px;
  width:45%;
}

.sample-contents{
  width:90%;
  margin:0 auto;
  color:white;
}

.sample-video{
  margin-top:50px;
  float:left;
}

.sample-video p{
  width:50%;
  float:right;
  textalign:left;
}

.sample-video-1{
  margin-top:100px;
}

.sample-video-2{
  margin-top:100px;
}

.rec-charge h2{
  
}

.rec-charge{
  text-align:left;
  float:left;
  margin-top:700px;
  width:80%; 
  margin:0 auto;
  color:white;
}
