.background-color{
    background-color:black;
    width:100%;
    height:100%;
    padding:80px 0px;
    color:white;
}

.size{
    width: 80%;
    margin:0 auto;
}

.header{
    text-align:center;
}

.sns{
    width:100%;
    margin:50px 0px;
}

.sns li{
    margin:0 auto;
    list-style:none;
    display:inline;
    margin:1%;
    padding:2%;
    width:20%;
    box-sizing: border-box;
    border-radius:30px;
}

.sns a{
    color:white;
}

.youtube{
    background-color:red;
}

.instagram{
    background-color:orange;
}

.twitter{
    background-color:cyan;
}

.kizai{
    background-color:lightseagreen;
}


.recording{
    margin:50px 0px;
}

.engineer-photo img{
    width:100%;
    height:auto;
}

.sample-contents{
    margin:50px 0px;
}

.rec-charge{
    margin:50px 0px;
}

.footer{
    margin:50px 0px;
    text-align:center;
}
