@media (max-width: 1023px) and (min-width: 768px) {
    #loader-bg {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: #000;
        z-index: 11;
    }
    #loader {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 200px;
        margin-top: -100px;
        margin-left: -250px;
        text-align: center;
        color: #fff;
        z-index: 12;
    }
    body {
        padding: 0;
        margin: 0;
    }
    .sp-only-br {
        display: none;
    }
    a {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    h1 {}
    h2 {
        font-size: 30px;
        text-align: center;
        padding-bottom: 50px;
    }
    h3 {
        font-size: 20px;
    }
    #header {
        display: block;
        width: 100%;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        position: fixed;
        top: 0;
        z-index: 10;
    }
    #header-contents {
        width: 98%;
        height: 50px;
        margin: 0 auto;
    }
    .header-content {
        display: inline-block;
        height: 50px;
    }
    .header-logo {
        float: left;
        height: 50px;
    }
    .header-logo:hover {
        cursor: pointer;
    }
    .header-logo img {
        width: auto;
        height: 50px;
    }
    .header-link {
        /*display: none;*/
        float: right;
        position: relative;
    }
    .header-link a {
        font-size: 18px;
        position: relative;
        display: inline-block;
        text-decoration: none;
    }
    .header-link a::after {
        position: absolute;
        bottom: -8px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #333;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }
    .header-link a:hover::after {
        bottom: -4px;
        opacity: 1;
        visibility: visible;
    }
    .header-link-btn {
        display: inline-block;
        margin: 0 auto;
    }
    .header-link-btn a {
        color: black;
        font-weight: 550;
        margin: 10px 0px 0px 20px;
    }
    .header-menu {
        display: none;
        float: right;
        height: 50px;
        width: 50px;
        text-align: right;
        position: relative;
    }
    .header-menu-btn {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0, -50%);
        cursor: pointer;
        font-size: 40px;
        width: auto;
    }
    #main {
        background-image: url('itaboo-records-big.png');
        background-size: 100%;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    #main-contents {}
    #main-contents .main-menu-box {
        display: none;
    }
    .main-content {
        margin: 0;
    }
    .main-home {
        margin: 0;
        text-align: center;
    }
    .main-home-blank {
        position: relative;
        width: 100vw;
        height: 100vh;
    }
    .main-home-blank-out {
        display: none;
    }
    .main-home-blank .scroll-btn {
        width: 100%;
    }
    .main-home-blank .scroll-btn:hover {
        cursor: pointer;
    }
    .main-home-blank .scroll-btn p {
        margin: 0 auto;
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        font-size: 30px;
        font-weight: 800;
    }
    .main-home .greeting-text {
        display: block;
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8);
        position: relative;
    }
    .main-home .greeting-text .greeting-text-box {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .greeting-text h1 {
        font-size: 2.8vw;
    }
    .greeting-text p {
        font-size: 2vw;
    }
    .main-production {
        display: inline-block;
        margin: 0;
        width: 100vw;
        height: auto;
        padding: 100px 0px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .main-production h2 {
        margin: 0;
        text-align: center;
    }
    .production-demo-video-left {
        width: 100%;
        text-align: center;
    }
    .production-demo-video-right {
        width: 100%;
        text-align: center;
    }
    .production-demo-video-sp {
        display: none;
        width: 100%;
        text-align: center;
    }
    .main-engineer {
        display: inline-block;
        margin: 0;
        width: 100vw;
        height: auto;
        padding: 100px 0px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .main-engineer h2 {
        text-align: center;
    }
    .engineer-photo {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .engineer-photo img {
        width: 70%;
        height: auto;
        margin: 0 auto;
        display: inline;
        text-align: center;
    }
    .engineer-greeting {
        display: inline-block;
        width: 100%;
    }
    .engineer-greeting-name {
        text-align: center;
    }
    .engineer-greeting p {
        margin: 0 auto;
        width: 70%;
    }
    .engineer-greeting-into-ows-btn {
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 90%;
        padding: 10px 0px;
    }
    .engineer-greeting-into-ows-btn a {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: 600;
        background-color: lightgreen;
        border-radius: 5px;
        padding: 10px 15px;
        border-bottom: solid 4px green;
    }
    .engineer-greeting-into-ows-btn a:hover {
        opacity: 0.8;
    }
    .main-systems {
        display: block;
        margin: 0;
        width: 100vw;
        height: auto;
        padding: 100px 0px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .systems-link-btn {
        margin: 0;
        text-align: center;
    }
    .systems-link-btn a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        background-color: lightgreen;
        border-radius: 5px;
        padding: 10px 15px;
        border-bottom: solid 4px green;
    }
    .systems-link-btn a:hover {
        opacity: 0.8;
    }
    .systems-link-btn a:active {}
    .main-fee {
        display: block;
        margin: 0;
        width: 100vw;
        height: auto;
        padding: 100px 0px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .main-fee-box {
        margin: 0 auto;
        text-align: center;
    }
    .main-contact {
        display: block;
        margin: 0;
        width: 100vw;
        height: auto;
        padding: 100px 0px;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
    }
    .main-contact-box {
        margin: 0;
    }
    .main-contact-btn {
        padding-top: 50px;
        text-align: center;
    }
    .main-contact-btn a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        background-color: lightgreen;
        border-radius: 5px;
        padding: 10px 15px;
        border-bottom: solid 4px green;
    }
    .main-contact-btn a:hover {
        opacity: 0.8;
    }
    #footer {
        display: inline-block;
        width: 100vw;
        height: auto;
    }
    #footer-contents {}
    #footer-link {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    .footer-btn {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        display: inline-block;
        margin: 5px;
        box-shadow: 2px 2px 4px gray;
        position: relative;
    }
    .footer-btn a {
        font-size: 16px;
        padding: 10px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    .footer-btn a:hover {
        transition: 0.2s;
        opacity: 0.9;
        font-size: 19px;
    }
    .youtube-footer {
        background-color: red;
    }
    .insta-footer {
        background: linear-gradient(-135deg, #E4A972, #9941D8);
    }
    .twitter-footer {
        background-color: rgb(0, 206, 206);
    }
    .mail-footer {
        background-color: lightgreen;
    }
    #footer-icon {
        text-align: center;
        padding-bottom: 100px;
    }
}